{% extends 'base.html.twig' %}

{% block title %}Coupe d'Europe de football 2016{% endblock %}

{% block body %}
    <h1>Matchs de la coupe d'Europe de football 2016</h1>
    <p>Date du jour :
        {{today | date("d/m/Y") }}.</p>
    <br/>

    {% include 'match/templateList.html.twig' with {'entries':entries} only %}

{% endblock %}
